.incomplete-quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.incomplete-quiz-container-individual {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.individual-incomplete-quiz {
  display: flex;    
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #868686;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 100%;
  height: 100%;
}

.individual-incomplete-quiz-thumbnail {
  width: 160px;
  height: 90px;
}

.individual-incomplete-quiz-button {
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}